<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

<!-- Properties cargados por context indicando orden segun el uso que se quiera hacer -->
<!-- 
<context:property-placeholder location="classpath*:data-source-test.properties" ignore-unresolvable="true" order="2" />
<context:property-placeholder location="classpath*:data-source.properties" order="1" file-encoding="ASCII"/>
 -->
 
<!-- Archivo de propiedades de desarrollo -->

<bean id="propertyPlaceholderConfigurerDes" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="locations">
<value>classpath:data-source-test.properties</value>
</property>
<property name="placeholderPrefix" value="dbtest."/> <!-- para poder usarlo con prefijo  -->
 <property name="ignoreUnresolvablePlaceholders" value="true"/>
</bean>

<!-- Archivo propiedades de Producción  -->
<!-- 
<bean id="propertyPlaceholderConfigurerPro" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="locations">
<value>classpath:data-source.properties</value>
 </property>
 <property name="placeholderPrefix" value="dbprod."/>
 <property name="ignoreUnresolvablePlaceholders" value="true"/>
</bean>
-->
<!-- 
 <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:data-source.properties</value>
                <value>data-source-test.properties</value>
               
            </list>
        </property> 
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    
 -->
 
	<!-- bean autor  inicializado por inyeccion de propiedades -->
	<bean id="autor1" class="com.grupoatrium.modelo.Autor" >
	<property name="nombre" value="Craig Walls"/>
	<property name="comentarios" value=" Libro principal:Spring Cuarta Edición"></property>
	<property name="nacionalidad" value="francesa"></property>
	</bean>
	
	
	<bean id="editrorial1" class="com.grupoatrium.modelo.Editorial" p:nif="1234567-Q"  p:nombre="ANAYA" p:direccion-ref="direccion1" >
	</bean>
	
	<util:list id="listaAutores" value-type="grupoatrium.modelo.Autor">
		<ref bean="autor1"/>
		<!-- bean interno -->
		<bean id="autor2" class="com.grupoatrium.modelo.Autor" >
		<property name="nombre" value="IvanLopez"/>
		<property name="comentarios" value=" comentarios"></property>
		<property name="nacionalidad" value="Española"></property>
		</bean>
	</util:list>
	
	<!-- bean libro inicializado por constructor index -->
	<bean id="libro1"  class="com.grupoatrium.modelo.Libro">
	<constructor-arg index="0" value="isb123133"></constructor-arg>
	<constructor-arg index="2" ref="listaAutores"></constructor-arg>
	<constructor-arg index="6" value="yo mismo"></constructor-arg>
	<constructor-arg index="3" ref="editrorial1"></constructor-arg>
	<constructor-arg index="5" value="12.86"></constructor-arg>
	<constructor-arg index="4" value="12"></constructor-arg>
	<constructor-arg index="1" value="Is my Life"></constructor-arg>
	</bean>
		<!-- bean libro inicializado por constructor con nombre C: -->
	<bean id="libroC"  class="com.grupoatrium.modelo.Libro" c:autores-ref="listaAutores"  c:descripcion="c_descripcion"
	 c:editorial-ref="editrorial1" c:isbn="c_isb6564564" c:precio="10.23" c:publicacion="3" c:titulo="c_titulo"/>
	
	<!-- bean direccion1 -->
	<bean id="direccion1" class="com.grupoatrium.modelo.Direccion" p:calle="Avenida Monasterio de Silos" p:cp="28049" p:numero="35" p:poblacion="Madrid" p:provincia="Madrid"></bean>

	
	
	<!-- bean connectionMgr con las propiedades recuperadas del propertie -->
	<bean id="connectionMgr" class="com.grupoatrium.persistencia.impl.ConnectionMgr" primary="true" >
	    <property name="driver" value="${dbtest.driver}" />
		<property name="url" value="${dbtest.url}" />
		<property name="usuario" value="${dbtest.user}" />
		<property name="password" value="${dbtest.pw}" />
	 </bean>
	<bean id="connectionMgr2" class="com.grupoatrium.persistencia.impl.ConnectionMgr" >
	    <property name="driver" value="${dbtest.driver}" />
		<property name="url" value="${dbtest.url}" />
		<property name="usuario" value="${dbtest.user}" />
		<property name="password" value="${dbtest.pw}" />
	 </bean>
	
	<!-- bean abstracto sin clase asociada  -->
	<bean abstract="true" id="abstConnMgr">
	<property name="ConnMgr" ref="connectionMgr"></property>
	</bean>

	<bean id="librosDAO" parent="abstConnMgr"
		class="com.grupoatrium.persistencia.impl.LibrosDAO"  autowire="byType">
	</bean>
	
	<bean id="editorialesDAO"
		class="com.grupoatrium.persistencia.impl.EditorialesDAO"
		parent="abstConnMgr" autowire="byType">
	</bean>
</beans>
